.list {
    height: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
}
button{
    height: 30px;
    margin: 10px;
    width: 10%;
    outline: none;
    background: #99ccff;
    border-radius: 8px;
}
p {
    text-align: left;
    margin: 10px;
    width: 29%;
}

form {
    text-align: left;
    margin: 20px;
}
form label {
    margin: 10px;

}
form input {
    width: 150px;
}